<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <p id="notice"><%= notice %></p>
        <h1>Users List</h1>
        <%= will_paginate %>
        <table>
          <% @users.each do |user| %>
          　<tr>
              <td>name <%= user.name %></td>
          　</tr>
            <tr>
              <td>email <%= user.email %></td>
            </tr>
            <tr>
              <td>
                <%= link_to 'show', user, class: 'btn btn-primary' %> 
              </td>
            </tr>
          <% end %>
        </table>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</header>
